body {
    background-color: Snow;
    padding-top: 20px;
    padding-left: 40px;
    color: DarkSlateGrey;
    font-family: sans-serif;
    max-width: 800px;
}

a { color: Tomato; }
a:hover { color: Firebrick; }

form {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
}

fieldset {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid DarkSlateGrey;
}

legend {
    border: 1px solid DarkSlateGrey;
    padding: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-box {
    display: inline-block;
    padding: 20px;
    margin: 5px;
}

.has-keybase-proofs {
    outline: 1px DarkSlateGrey dashed;
    outline-offset: 1px;
}

.keybase-user {
    display: inline-block;
    background: Snow;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 12px;
}
